@font-face {
    font-family: AdventureSegoe;
    src: url(../Fonts/segoeui.ttf);
}


body {
    background: #009DCB;
    font-family: AdventureSegoe;
    font-size: 14px;
    width: 100%;
}

header {
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    background-image: url(../Images/Header.png);
    border: 1px solid #47465E;
}

#menu li  {
    width: 120px;
    height: 30px;
    border: 1px solid #47465E;
    text-align: center;
}

#menu li a {
    width: 120px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}
